<a href="https://colab.research.google.com/github/danielvieira95/danielvieira95/blob/main/Analise_de_dados_divisao_por_evento.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Analise de dados contadores

In [ ]:
from google.colab import files 
import io
import pandas as pd
import datetime
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import math
import numpy as np

In [ ]:
upload = files.upload()

Saving 10.05.xlsx to 10.05.xlsx

In [ ]:
#Carregamento dos arquivos de dataset

In [ ]:
df = pd.read_excel('/content/10.05.xlsx')

In [ ]:
# exibir primeiras linhas

In [ ]:
df.tail(3)

                      Data      Hora  ...       Long  Speed
15770  2021-05-10 00:00:00  19:30:54  ... -47.072536   0.04
15771  2021-05-10 00:00:00  19:30:57  ... -47.072536   0.04
15772  2021-05-10 00:00:00  19:30:59  ... -47.072536   0.06

[3 rows x 17 columns]

In [ ]:
# Excluir coluna p1 cont_iot_in e p1_bpc_in, p1_cont_iot_out e p1_bpc_out

In [ ]:
df.drop('ID volta',axis =1, inplace = True)
df.drop('p1_cont_iot_in ',axis =1, inplace = True)
df.drop('p1_bpc_in',axis =1, inplace = True)
df.drop('p1_cont_iot_out',axis =1, inplace = True)
df.drop('p1_bpc_out',axis =1, inplace = True)
df.drop('Data',axis =1, inplace = True)

Variaveis para calcular a diferença entre as linhas e filtrar por evento

In [118]:
df['dif_p2_ciot_in'] = 0
df['dif_p2_bpc_in'] = 0
df['dif_p2_ciot_out'] = 0
df['dif_p2_bpc_out'] = 0
df['dif_p3_ciot_in'] = 0
df['dif_p3_bpc_in'] = 0
df['dif_p3_ciot_out'] = 0
df['dif_p3_bpc_out'] = 0

In [138]:
for i in range (len(df)-1):
  df['dif_p2_ciot_in'].iloc[i] = df['p2_cont_iot_in '].iloc[i+1 ] -df['p2_cont_iot_in '].iloc[i]
  df['dif_p2_bpc_in'].iloc[i] = df['p2_bpc_in'].iloc[i+1 ] -df['p2_bpc_in'].iloc[i]
  df['dif_p2_ciot_out'] =       df['p2_cont_iot_out'].iloc[i+1 ] -df['p2_cont_iot_out'].iloc[i]

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [139]:
for j in range (len(df)-1):
  df['dif_p3_ciot_in'].iloc[j] = df['p3_cont_iot_in '].iloc[j+1 ] -df['p3_cont_iot_in '].iloc[j]
  df['dif_p3_bpc_in'].iloc[j] = df['p3_bpc_in'].iloc[j+1 ] -df['p3_bpc_in'].iloc[j]
  df['dif_p3_ciot_out'].iloc[j] =       df['p3_cont_iot_out'].iloc[j+1 ] -df['p3_cont_iot_out'].iloc[j]

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [142]:
for w in range (len(df)-1):
  df['dif_p2_bpc_out'].iloc[w] = df['p2_bpc_out'].iloc[w+1 ] -df['p2_bpc_out'].iloc[w]
  df['dif_p3_bpc_out'].iloc[w] = df['p3_bpc_out'].iloc[w+1 ] -df['p3_bpc_out'].iloc[w]

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [ ]:
# Filtrando por evento

In [152]:
df_evento = df.loc[(df['dif_p2_ciot_in']>0)|(df['dif_p2_bpc_in']>0)|(df['dif_p2_ciot_out']>0)| (df['dif_p2_bpc_out']>0) |
                   (df['dif_p3_ciot_in']>0)|(df['dif_p3_bpc_in']>0)|(df['dif_p3_ciot_out']>0)| (df['dif_p3_bpc_out']>0)]

In [153]:
df_evento.head(100)

           Hora  p2_cont_iot_in   ...  dif_p3_ciot_out  dif_p3_bpc_out
246    07:40:18                0  ...                0               0
247    07:40:21                3  ...                0               0
262    07:40:59                3  ...                1               1
322    07:44:48                3  ...                1               1
323    07:44:51                3  ...                1               1
...         ...              ...  ...              ...             ...
10066  15:11:58               67  ...                9              10
10268  15:21:05               67  ...                0               0
10302  15:22:31               72  ...                0               0
10329  15:24:52               72  ...                0               0
10342  15:25:24               72  ...                0               0

[100 rows x 24 columns]

In [156]:
df_evento.to_csv('dataframe10.05evento.csv',index = False)

In [157]:
df_novo = pd.read_csv('dataframe10.05evento.csv')

In [ ]:
df_novo.drop('Data',axis =1, inplace = True)

In [146]:
df_novo.head(3)

       Hora  p2_cont_iot_in   ...  dif_p3_ciot_out  dif_p3_bpc_out
0  07:40:18                0  ...                0               0
1  07:40:21                3  ...                0               0
2  07:40:59                3  ...                1               1

[3 rows x 24 columns]

In [158]:
len(df_evento)

214

In [147]:
df_novo.head(5)

       Hora  p2_cont_iot_in   ...  dif_p3_ciot_out  dif_p3_bpc_out
0  07:40:18                0  ...                0               0
1  07:40:21                3  ...                0               0
2  07:40:59                3  ...                1               1
3  07:44:48                3  ...                1               1
4  07:44:51                3  ...                1               1

[5 rows x 24 columns]

In [155]:
df_evento ['res_p2_in'] = 0
df_evento ['res_p3_in'] = 0
for i in range (len (df_evento)):
  df_evento ['res_p2_in'].iloc[i] =  df_evento['p2_bpc_in'].iloc[i] - df_evento['p2_cont_iot_in '].iloc[i] 
  df_evento ['res_p3_in'].iloc[i] =  df_evento['p3_bpc_in'].iloc[i] - df_evento['p3_cont_iot_in '].iloc[i] 
  print(df_evento ['res_p2_in'].iloc[i])
  print(df_evento ['res_p3_in'].iloc[i])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

0
Residuo p3:
0
0
Residuo p3:
0
0
Residuo p3:
0
0
Residuo p3:
0
0
Residuo p3:
0
0
Residuo p3:
0
1
Residuo p3:
0
1
Residuo p3:
0
3
Residuo p3:
0
3
Residuo p3:
0
3
Residuo p3:
-1
3
Residuo p3:
-1
3
Residuo p3:
-1
3
Residuo p3:
-1
3
Residuo p3:
-1
3
Residuo p3:
-1
3
Residuo p3:
-1
3
Residuo p3:
-1
3
Residuo p3:
0
3
Residuo p3:
0
3
Residuo p3:
0
3
Residuo p3:
0
3
Residuo p3:
0
3
Residuo p3:
0
3
Residuo p3:
1
3
Residuo p3:
1
2
Residuo p3:
1
1
Residuo p3:
1
1
Residuo p3:
1
1
Residuo p3:
1
1
Residuo p3:
1
1
Residuo p3:
1
1
Residuo p3:
1
1
Residuo p3:
1
1
Residuo p3:
1
1
Residuo p3:
1
1
Residuo p3:
1
1
Residuo p3:
1
1
Residuo p3:
1
1
Residuo p3:
1
1
Residuo p3:
1
1
Residuo p3:
1
1
Residuo p3:
1
1
Residuo p3:
2
1
Residuo p3:
2
1
Residuo p3:
2
1
Residuo p3:
2
4
Residuo p3:
-1
4
Residuo p3:
-1
4
Residuo p3:
-1
4
Residuo p3:
-1
4
Residuo p3:
-1
5
Residuo p3:
-1
5
Residuo p3:
-1
5
Residuo p3:
-1
4
Residuo p3:
-1
4
Residuo p3:
-1
4
Residuo p3:
-1
4
Residuo p3:
-1
4
Residuo p3:
-1
4
Residuo p3:
-1
4
Residuo p3:
-1
4
Residuo p3:
-1
4
Residuo p3:
1
4
Residuo p3:
1
4
Residuo p3:
1
4
Residuo p3:
1
4
Residuo p3:
1
4
Residuo p3:
1
4
Residuo p3:
0
4
Residuo p3:
0
4
Residuo p3:
1
4
Residuo p3:
1
4
Residuo p3:
1
4
Residuo p3:
0
4
Residuo p3:
0
4
Residuo p3:
0
2
Residuo p3:
0
2
Residuo p3:
0
2
Residuo p3:
0
2
Residuo p3:
0
2
Residuo p3:
0
1
Residuo p3:
0
1
Residuo p3:
0
1
Residuo p3:
1
1
Residuo p3:
1
0
Residuo p3:
1
0
Residuo p3:
1
0
Residuo p3:
1
1
Residuo p3:
1
1
Residuo p3:
1
1
Residuo p3:
0
1
Residuo p3:
0
0
Residuo p3:
0
0
Residuo p3:
0
0
Residuo p3:
0
0
Residuo p3:
0
1
Residuo p3:
0
1
Residuo p3:
1
1
Residuo p3:
1
1
Residuo p3:
0
0
Residuo p3:
0
0
Residuo p3:
0
1
Residuo p3:
0
1
Residuo p3:
0
1
Residuo p3:
0
1
Residuo p3:
0
1
Residuo p3:
0
1
Residuo p3:
0
1
Residuo p3:
0
1
Residuo p3:
0
1
Residuo p3:
0
0
Residuo p3:
0
0
Residuo p3:
0
0
Residuo p3:
0
0
Residuo p3:
-2
1
Residuo p3:
-2
1
Residuo p3:
0
1
Residuo p3:
0
1
Residuo p3:
0
1
Residuo p3:
0
1
Residuo p3:
0
1
Residuo p3:
0
1
Residuo p3:
0
1
Residuo p3:
0
0
Residuo p3:
0
1
Residuo p3:
0
1
Residuo p3:
0
1
Residuo p3:
0
1
Residuo p3:
0
1
Residuo p3:
0
1
Residuo p3:
0
1
Residuo p3:
0
0
Residuo p3:
0
0
Residuo p3:
0
2
Residuo p3:
0
2
Residuo p3:
0
2
Residuo p3:
0
2
Residuo p3:
0
2
Residuo p3:
0
1
Residuo p3:
0
1
Residuo p3:
0
1
Residuo p3:
0
1
Residuo p3:
0
1
Residuo p3:
0
1
Residuo p3:
0
1
Residuo p3:
0
1
Residuo p3:
0
1
Residuo p3:
0
1
Residuo p3:
0
1
Residuo p3:
0
0
Residuo p3:
0
0
Residuo p3:
0
0
Residuo p3:
0
0
Residuo p3:
0
5
Residuo p3:
-6
5
Residuo p3:
0
5
Residuo p3:
0
5
Residuo p3:
0
5
Residuo p3:
0
5
Residuo p3:
0
5
Residuo p3:
0
5
Residuo p3:
0
5
Residuo p3:
-3
5
Residuo p3:
0
5
Residuo p3:
0
5
Residuo p3:
0
5
Residuo p3:
0
5
Residuo p3:
0
2
Residuo p3:
0
2
Residuo p3:
0
3
Residuo p3:
0
3
Residuo p3:
0
3
Residuo p3:
2
3
Residuo p3:
2
3
Residuo p3:
2
3
Residuo p3:
2
3
Residuo p3:
2
3
Residuo p3:
2
1
Residuo p3:
2
1
Residuo p3:
3
1
Residuo p3:
3
1
Residuo p3:
3
1
Residuo p3:
3
1
Residuo p3:
3
1
Residuo p3:
4
1
Residuo p3:
4
1
Residuo p3:
4
1
Residuo p3:
4
1
Residuo p3:
4
0
Residuo p3:
4
0
Residuo p3:
4
0
Residuo p3:
4
0
Residuo p3:
4
0
Residuo p3:
4
0
Residuo p3:
0
0
Residuo p3:
0
1
Residuo p3:
0
1
Residuo p3:
0
1
Residuo p3:
0
1
Residuo p3:
0
1
Residuo p3:
1
1
Residuo p3:
1
1
Residuo p3:
1
1
Residuo p3:
1
1
Residuo p3:
1
1
Residuo p3:
0
1
Residuo p3:
0
2
Residuo p3:
0
2
Residuo p3:
0
2
Residuo p3:
1
2
Residuo p3:
1
2
Residuo p3:
1
2
Residuo p3:
1

In [159]:
df_evento ['res_p2_in'].sum()

401

In [151]:
df_evento.tail(5)

           Hora  p2_cont_iot_in   ...  dif_p3_bpc_out  res_p2_in
14798  18:47:07              170  ...               0          2
14837  18:48:47              170  ...               2          2
14859  18:49:43              170  ...               0          2
14865  18:49:58              173  ...               3          2
14910  18:51:52              173  ...               3          2

[5 rows x 25 columns]

In [ ]:
print(df_evento (['res_p2_in']*df_evento ['res_p2_in']))

246       0
352       0
472       1
710       9
954       9
1341      9
2391      9
4862      9
5080      9
5112      4
5856      1
6099     16
6179     16
6180     16
6938     25
7447     16
7548     16
7549     16
7824     16
8243     16
8449      4
8780      1
9047      0
9323      1
10268     0
10394     1
10440     0
10596     1
10833     1
10898     0
10970     0
11286     1
11333     0
11484     1
11568     1
11729     0
11793     4
11897     4
12068     1
12518     1
12604     0
12942    25
13171    25
13264    25
13327     4
13600     9
13744     1
13840     1
13895     1
14131     0
14692     1
14750     1
14859     4
Name: res_p2_in, dtype: int64

In [ ]:
df_evento.to_csv('Df10.05_evento2.csv',index = False)

In [ ]:
df_novo = pd.read_csv('Df10.05_evento2.csv')

In [ ]:
media = df_evento['res_p2_in'].mean()
print (media)

1.9245283018867925

In [ ]:
quad = df_evento['res_p2_in']* df_evento ['res_p2_in']

In [ ]:
total = quad.sum()

In [ ]:
print (total)

332

In [ ]:
soma = 0

In [ ]:
dif_p2_in = df['p2_bpc_in'] - df['p2_cont_iot_in ']
mult = np.float_power(dif_p2_in,2)
soma = soma + mult
div = soma /len(df_evento)
#print(mult)
print(soma)
print(div)

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
15768    8.0
15769    8.0
15770    8.0
15771    8.0
15772    8.0
Length: 15773, dtype: float64
0        0.000000
1        0.000000
2        0.000000
3        0.000000
4        0.000000
           ...
15768    0.150943
15769    0.150943
15770    0.150943
15771    0.150943
15772    0.150943
Length: 15773, dtype: float64

In [ ]:
print ( residuo_p2_in)

1

In [ ]:
dif = df_evento['p2_cont_iot_in '].iloc[1] - df_evento['p2_bpc_in'].iloc[1]

In [ ]:
print (dif)

0

In [ ]:
for i in range (len (df_evento) -1):
  print (df_evento ['res_p2_in'].iloc[i])

In [ ]:
print (df_evento['p2_cont_iot_in '].iloc[2])

6